process {
    withName:procount {
        cpus=2
        container = 'mpgagebioinformatics/mageck:e94a4f7'
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.input_count}:${params.input_count}"
    }
    withName:pretest {
        cpus=1
        container = 'mpgagebioinformatics/mageck:e94a4f7'
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.samples_tsv}:${params.samples_tsv}"
    }
    withName:protest {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        container = "mpgagebioinformatics/mageck:e94a4f7"
        containerO
        ptions = "-v ${params.project_folder}:${params.project_folder}"
    }
    withName:pressc {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        container = "mpgagebioinformatics/mageck:e94a4f7"
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.library}:${params.library}"
    }
    withName:prossc {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        container = "mpgagebioinformatics/mageck:e94a4f7"
        containerOptions = "-v ${params.project_folder}:${params.project_folder}"
    }
    withName:premle {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        container = "mpgagebioinformatics/mageck:e94a4f7"
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.samples_tsv}:${params.samples_tsv}"
    }
    withName:promle {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        container = "mpgagebioinformatics/mageck:e94a4f7"
        containerOptions = "-v ${params.project_folder}:${params.project_folder}"
    }
}

