process {
    cpus=1
    container = 'mpgagebioinformatics/mageck:e94a4f7'
    containerOptions = "-v ${params.project_folder}:${params.project_folder}"
    withName:prorefile {
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.renamed_fastq}:${params.renamed_fastq} -v ${params.raw_fastq}:${params.raw_fastq}"
    }
    withName:procount {
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.input_count}:${params.input_count}"
    }
    withName:pretest {
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.samples_tsv}:${params.samples_tsv}"
    }
    withName:pressc {
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.library}:${params.library}"
    }
    withName:premle {
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.samples_tsv}:${params.samples_tsv}"
    }
    withName:merge_sumaries {
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.library_xlsx}:${params.library_xlsx}"
    }
    withName:propathway {
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.gmt_file}:${params.gmt_file}"
    }
}

