process {
    withName:count_process {
        cpus=2
        container = 'mpgagebioinformatics/mageck:e94a4f7'
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.input_count}:${params.input_count}"
    }
    withName:test_preprocess {
        cpus=1
        container = 'mpgagebioinformatics/mageck:e94a4f7'
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.input_count}:${params.input_count}"
    }
    withName:test_process {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        container = "mpgagebioinformatics/mageck:e94a4f7"
        containerO
        ptions = "-v ${params.project_folder}:${params.project_folder}"
    }
    withName:ssc_preprocess {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        container = "mpgagebioinformatics/mageck:e94a4f7"
        containerOptions = "-v ${params.project_folder}:${params.project_folder} -v ${params.library}:${params.library}"
    }
    withName:ssc {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        container = "mpgagebioinformatics/mageck:e94a4f7"
        containerOptions = "-v ${params.project_folder}:${params.project_folder}"
    }
}

